- var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

section(class="author-resume")
  section(class="author-about")
    div(class="section-title")
      span Who I Am
    div(class="author-about-content")
      each summary in about.summary
        p #{summary}
      p I live to learn.
        a(href="https://twitter.com/hashtag/juniordevforlife") #juniordevforlife
  section(class="author-experience")
    div(class="section-title")
      span What I Did
    div(class="author-experience-items")
      - var startDate, startYear, startMonthIdx, startMonth
      - var endDate, endYear, endMonthIdx, endMonth
      each experience in experiences
        div(class="author-experience-item")
          div(class="author-experience-header")
            div(class="author-experience-icon")
              img(class="author-experience-icon" src="assets/images/"+ experience.icon)
            div(class="author-experience-summary")
              div(class="author-experience-role") #{experience.role}
              div(class="author-experience-splitter")
              div(class="author-experience-period")
                - startDate = experience.year.start
                - startYear = startDate.getFullYear()
                - startMonthIdx = startDate.getMonth()
                - startMonth = monthNames[startMonthIdx]
                - endDate = experience.year.end
                span #{startMonth} #{startYear}
                span -
                if endDate instanceof Date
                  - endMonthIdx = endDate.getMonth()
                  - endMonth = monthNames[endMonthIdx]
                  - endYear = endDate.getFullYear()
                  span #{endMonth} #{endYear}
                else
                  span #{endDate}
          div(class="author-experience-body")
            ul
              each summaryEntry in experience.summary
                li #{summaryEntry}
  //- section(class="author-skills")
  //-   div(class="section-title")
  //-     span What I can do
